/* Option 2: Import bootstrap icon CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root{
    --fonts:'Source Sans Pro';
    --theme-color:#F47008;
    --main-color:#212529;
    --sub-color:#686868;
    --sub-font:#686868;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--fonts);
}
a{
    display: inline-block;
    text-decoration: none;
}
.container{
    padding: 0 100px;
}
li{
    list-style: none;
}
.img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.space{
    justify-content: space-between;
}
.spacer{
  padding: 100px 0;
}
.gap{
    gap: 30px;
}
.sec_title{
    text-align: center;
}
.section-title{
    font-size: 56px;
    font-weight: 700;
    color: var(--main-color);
    position: relative;
}
.section-title::after{
    content: '';
    position: absolute;
    top: 45%;
    left: 29%;
    width: 75px;
    height: 15px;
    background-image: url(../img/title.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sub-title{
    margin-top: 24px;
    font-size: 16px;
    text-align: center;
    color: var(--sub-color);
    margin-bottom: 50px;
}
html{
    scroll-behavior: smooth;
}
  

/* pre-loader */
.pre-loader {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
  }
.loader-design{
    position: fixed;
    top: 42%;
    left: 48%;
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
    background-color: #F47008;
    border-radius: 100%;
    animation: sk-scaleout 1s infinite ease-in-out;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
}
@keyframes sk-scaleout {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/* header */
.fixed{
    position: fixed;
    top:0; 
    left:0;
    width: 100%; 
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.95);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100% ;
}
.logo{
    align-self: center;
    display: flex;
}
.main_menu li a{
    padding: 25px 25px;
    position: relative;
    color: white;
    font-size: 14px;
    font-weight: 600;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    &:hover
    {
        color: var(--theme-color);
    }
}
.main_menu li a >i{
    position: relative;
    top: -2px;
    font-size: 10px;
    margin-left: 5px;
}
.main_menu li a::after{
    content: '';
    position: absolute;
    top: 5px;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: var(--theme-color);
    transition: .3s;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.main_menu li a:hover::after{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
.btn{
    align-self: center;
    margin-left: 20px;
    overflow:hidden;
    padding: 12px 32px;
    font-weight: 700;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    position: relative;
    z-index: 4;
    background-color: var(--theme-color);
}
.btn a{
    background-color: var(--theme-color);
    color: white;
    font-size: 14px;
    line-height: 0;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color:black;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.btn:hover::before{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}


/* slider section */

.slider_banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../img/slider-banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;
    padding-top: 80px;
}
.banner-title{
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    color: white;
    position: relative;
}
.banner-title::after{
    content: '';
    position: absolute;
    top: 88%;
    left: 35%;
    width: 75px;
    height: 15px;
    background-image: url(../img/title.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.b-sub-title{
    margin-top: 24px;
    font-size: 16px;
    text-align: center;
    color: var(--theme-color);
    margin-bottom: 50px;
}
.slider-contact{
    margin: 0 auto;
    width: 60%;
    padding: 20px 50px;
    background-color: white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
label{
    display: block;
    color: var(--main-color);
    font-weight: 700;
    margin-bottom: 8px;
}
label i{
    margin-left: 10px;
    font-size: 14px;
    color: var(--theme-color);
}
.input input,
.input select{
    width: 100%;
    color: var(--sub-color);
    padding: 5px 0;
    padding-left: 4px;
    border: none;
    outline-width: 1px;
    transition: .1s;
    &:focus 
    {
        border-radius: 4px;
        outline: 0px solid #f9c89b;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
}
}
.slider-contact .input:nth-child(1){
    width: 26%;
}
.slider-contact .input:nth-child(2){
    width: 19%;
}
.slider-contact .input:nth-child(3){
    width: 26%;
}
.search{
    cursor: pointer;
    width: 15%;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    z-index: 10;
    background-color: black;
}
.search i{
    width: 100%;
    padding: 18px 0;
    font-size: 22px;
    text-align: center;
    color: white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.search::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--theme-color);
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: translateY(-80px);
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    -o-transform: translateY(-80px);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.search:hover:before{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

/* travel-sec */
.travel{
    position: relative;
}
.travel-img{
    width: 310px;
    border-radius: 50px 50px 0 0;   
    position: relative;
    overflow: hidden;
}
.travel-img img{
    border-radius: 50px 50px 0 0;
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    -ms-border-radius: 50px 50px 0 0;
    -o-border-radius: 50px 50px 0 0;
}
.hover-effect{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000da;
    opacity: 0;
    transform-origin: bottom;
    transition:.5s ;
    -webkit-transition:.5s ;
    -moz-transition:.5s ;
    -ms-transition:.5s ;
    -o-transition:.5s ;
    transform: translateY(500px);
    -webkit-transform: translateY(500px);
    -moz-transform: translateY(500px);
    -ms-transform: translateY(500px);
    -o-transform: translateY(500px);
}
.hover-effect span{
    position: relative;
    top: 45%;
    left: 20%;
    font-size: 22px;
    color: white;
}
.hover-effect span i{
    padding: 18px 19px;
    font-size: 16px;
    background-color: white;
    color: var(--theme-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
    margin-right: 6px;
    &:hover{
        background-color: var(--theme-color);
        color: white;
    }
}
.travel-img:hover .hover-effect{
    opacity: 1;
    transform-origin: bottom;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.img-info{
    margin-top: 20px;
}
.img-no{
    font-size: 28px;
    color: var(--main-color);
    font-weight: 800;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        height: 1.5px;
        width: 30px;
        background-color: var(--theme-color);
    }
    margin-bottom: 16px;
}
.img-name{
    font-weight: normal;
    color: var(--sub-color);
}
.owl-nav{
    position: absolute;
    top: 100%;
    left: 45.8%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    opacity: 0;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.owl-nav button i{
    margin: 5px;
    padding: 15px 16px;
    font-size: 14px;
    background-color: #dbdbdb;
    color: var(--main-color);
    transition: .3s;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    &:hover
    { 
        background-color: var(--theme-color);
        color: white;
    }
}


/* special offer */
.special_offer .section-title,
.special_offer .sub-title{
    text-align: left;
}
.special_offer .section-title::after{
    left: 14%;
    top: 88%;
}
.offer-name span i{
    padding: 8px;
    background-color: #f9c89b;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-size: 18px;
    color: var(--main-color);
    margin-right: 10px;
}
.offer-name .ic-name{
    font-size: 14px;
    color: var(--sub-color);
}
.offer-name p{
    margin-top: 5px;
    font-size: 16px;
    color: var(--main-font);
}
.offer-img{
    width:442px;
    height: 260px;
    margin-top: 10px;
    position: relative;
    border-radius: 50px 50px 0 0;
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    -ms-border-radius: 50px 50px 0 0;
    -o-border-radius: 50px 50px 0 0;
    overflow: hidden;
}
.offer-img img{
    border-radius: 50px 50px 0 0;
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    -ms-border-radius: 50px 50px 0 0;
    -o-border-radius: 50px 50px 0 0;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.offer-img span{
    position: absolute;
    top:8%;
    right:8%;
    padding: 5px 8px;
    font-size: 14px;
    background-color: var(--theme-color);
    border-radius: 50px;
    color: white;
    font-weight: 500;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.offer-img:hover img{
    scale: 1.2;
}
.offer-img::after{
    content: '';
    position: absolute;
    left: 0;
    top: -20%;
    z-index: 2;
    height: 450px;
    width: 350px;
    background: linear-gradient(to left, rgba(255, 255, 255), rgba(255, 255, 255, 0.174));
    rotate:20deg;
    opacity: 0;
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
}
.offer-img:hover:after{
    animation: flash .2s linear;
    -webkit-animation: flash .2s linear;
}
@keyframes flash {
    to{
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
}
    from{
        transform: translateX(-160px);
        -webkit-transform: translateX(-160px);
        -moz-transform: translateX(-160px);
        -ms-transform: translateX(-160px);
        -o-transform: translateX(-160px);
        opacity: 1;
}
}
.offer-price-info{
    margin-top: 10px;
}
.offer-price{
    font-size: 16px;
    color: var(--main-color);
    font-weight: 700;
}
.star{
    font-size: 18px;
    color: #FFD45B;
    padding-right: 5px;
}
.detail-btn{
    display: inline-block;
    position: relative;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    overflow: hidden;
} 
.detail-btn a{
    padding: 14px 40px;
    background-color: transparent;
    color: white;
    font-weight: 700;
    font-size: 14px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    z-index: 999;
}
.detail-btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    z-index: -2;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.detail-btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--theme-color);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    z-index: -1;
    transform: translateY(-54px);
    -webkit-transform: translateY(-54px);
    -moz-transform: translateY(-54px);
    -ms-transform: translateY(-54px);
    -o-transform: translateY(-54px);
}
.detail-btn:hover::before{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

/* travel */
.travel-sec{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)) ,url(../img/travel-img.jpeg);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-attachment: fixed;
    background-size: cover;
}
.travel-content{
    width: 40%;
    margin-left: 80px;
    align-self: center;
}
.travel-title{
    font-size: 56px;
    font-weight: 700;
    color: white;
}
.travel-sub-title{
    margin-top: 20px;
    font-size: 16px;
    color: white;
}
.travel-image{
    margin-right: 80px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    position: relative;
}
.travel-image img{
    border: 5px solid white;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.play{
    position: absolute;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    top: 45%;
    left: 45%;
    z-index: 3;
}
.play a i{
    display: inline-block;
    font-size: 25px;
    background-color: black;
    padding: 18px;
    color: var(--theme-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.play:hover a>i{
    background-color: var(--theme-color);
    color: white;
}
.play::after{
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 50px;
    animation: playbtn linear infinite;
    -webkit-animation: playbtn linear infinite;
    animation-duration: 4s;
}
@keyframes playbtn{
    0%{
        scale: 0;
        opacity: 0;
    }
    100%{
        scale: 1.6;
        opacity: .6;
    }
}

/* travel agency */
.travel{
    justify-content: center;
    display: flex;
}
.travel-agency .section-title::after{
    left: 42%;
    top: 90%;
}
.icon1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%;
    gap: 30px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.icon-travel{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0rem 0.1875rem 0.825rem rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
}
.icon-travel span{
    position: absolute;
    top: 28%;
    left: 16%;
}
.icon-travel span img{
    width: 80%;
}
.icon-info{
    text-align: center;
}
.icon-name{
    font-size: 32px;
    font-weight: 700;
    color: var(--main-color);
}
.icon-sub-info{
    margin-top: 10px;
    font-size: 14px;
    color: var(--sub-color);
}
.icon2 .icon-travel span{
    left: 25%;
    top: 25%;
}
.icon3 .icon-travel span{
    left: 26%;
    top: 24%;
}
.icon1:hover .icon-travel{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.line{
    top: 25%;
    position: absolute;
    height: 3px;
    border-bottom: 1px dashed #f9c89b;
    width: 60%;
    background-color: transparent;
    z-index: -1;
}

/* best travel */

.travelbest-img{
    position: relative;
}
.travelbest-img .travel-img1{
    width: 480px;
}
.travelbest-img .travel-img1>img{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.travelbest-img span{
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 360px;
}
.travelbest-img span>img{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: 10px solid white;
}
.brst-travel{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 130px;
}
.besttravel-info .sec_title{
    text-align: left;
}
.besttravel-info .section-title::after{
    left: 20%;
    top: 85%;
}
.besttravel-info .sub-title{
    text-align: left;
    line-height: 28px;
    margin-top: 50px;
    margin-bottom: 60px;
}
.uniq-icon{
    margin-bottom: 40px;
}
.uniq-icon >span{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    box-shadow: 0rem 0.1875rem 0.825rem rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}
.uniq-icon span i{
    font-size: 38px;
    color: var(--theme-color);
    padding: 12px;
}
.uniq-info p{
    font-size: 16px;
    color: var(--main-color);
    font-weight: 700;
    margin-bottom: 12px;
}
.uniq .detail-btn::after{
    background-color: var(--theme-color);
}
.uniq .detail-btn::before{
    background-color: black;
}

/* blog section */

.blog-section .section-title::after{
    top: 90%;
    left: 44%;
}
.blog-info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:30px;
}
.blog-img{
    width: 50%;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}
.blog-img:hover >img{
    scale: 1.3;
}
.blog-data{
    width: 40%;
    margin-left: 20px;
}
.blog-img img{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.blog-main{
    margin-top: 20px;
    font-size: 20px;
    color: var(--main-color);
    font-weight: 700;
    margin-bottom: 10px
}
.blog-sub{
    font-size:16px;
    color: var(--sub-color);
    margin-bottom: 10px;
}
.blog-btn{
    overflow: hidden;
    margin-top: 20px;
    display: inline-block;
    padding: 6px 13px;
    font-size: 14px;
    font-weight: 600;
    color: var(--sub-color);
    border: 1px solid var(--theme-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    position: relative;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    &:hover
    {
        color: white;
    }
}
.blog-btn i{
    margin-left: 5px;
}
.blog-btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--theme-color);
    z-index: -1;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.blog-btn:hover:after{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.label-cal{
    position: absolute;
    top: 84%;
    left: 0;
    padding: 5px 20px;
    background-color:#00A45D;
    color: white;
    font-size: 14px;
    border-radius: 0 50px 50px 0;
    -webkit-border-radius: 0 50px 50px 0;
    -moz-border-radius: 0 50px 50px 0;
    -ms-border-radius: 0 50px 50px 0;
    -o-border-radius: 0 50px 50px 0;
    z-index: 2;
}
.label-cal::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -1;
    border-radius: 0 50px 50px 0;
    -webkit-border-radius: 0 50px 50px 0;
    -moz-border-radius: 0 50px 50px 0;
    -ms-border-radius: 0 50px 50px 0;
    -o-border-radius: 0 50px 50px 0;
    transition: .3s;
    transform: translateX(-150px);
    -webkit-transform: translateX(-150px);
    -moz-transform: translateX(-150px);
    -ms-transform: translateX(-150px);
    -o-transform: translateX(-150px);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.label-cal:hover:after{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
.label-cal i{
    margin-right: 5px;
}
.blog-section .detail-btn{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 12.2%;
    margin-top: 50px;
}
.blog-section .detail-btn a{
    font-size: 14px;
}
.blog-section .detail-btn::after{
    background-color: var(--theme-color);
}
.blog-section .detail-btn::before{
    background-color: black;
}

/* client-sec */
.client-sec .section-title::after{
    top: 80%;
    left: 50%;
}
.client-data{
    padding: 48px;
    background-color: white;
    box-shadow: 0rem 0.1875rem 0.825rem rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    text-align: center;
    margin: 6px 0;
}
.client-img{
    margin: 0 auto;
    position: relative;
    border-radius: 50px;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 20px;
}
.client-img >img{
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 3px solid var(--theme-color);   
}
.client-img span{
    position: absolute;
    top: -30px;
    left: -40px;
}
.c-name{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    color: var(--main-color);
}
.c-post{
    font-size: 14px;
    color: var(--sub-color);
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 0.2px solid #dbdbdb;
}
.client-info{
    font-size: 14px;
    color: var(--sub-color);
    margin-top: 30px;
    line-height: 26px;
}
/* slider dots */
.owl-dots{
    position: absolute;
    top: 100%;
    left: 50%;
    display: inline-block;
    transform: translateY(80%);
    -webkit-transform: translateY(80%);
    -moz-transform: translateY(80%);
    -ms-transform: translateY(80%);
    -o-transform: translateY(80%);
}
.owl-dots .owl-dot{
    height: 10px !important;
    width: 10px !important;
    background-color: #68686889 !important;
    border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    -ms-border-radius: 50px !important;
    -o-border-radius: 50px !important;
    margin:0px 8px;
}
.owl-dots .owl-dot.active{
    background-color: #686868 !important;
}

/* patner section */
.partner-sec .section-title::after{
    top: 100%;
    left: 50%;
}
.compny-logo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.logo-c{
    transition: .3s;
    justify-self: center;
    opacity: .7;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    &:hover
    {
        opacity: 1;
    }
}

/* footer */
footer{
    background-image: linear-gradient(white,#FFF1E4);
}
footer .section-title::after{
    left:68%;
    top: 86%;
}
.email{
    position: relative;
    justify-self: center;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.email >input{
    position: relative;
    width: 50%;
    padding:20px  0;
    padding-left: 60px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    color: var(--sub-color);
    font-family: var(--fonts);
    font-size: 16px;
    border:4px solid transparent;
    outline: 5px solid white;
}
.email >input:focus{
    height: 90%;
    width: 50%;
    border-color: #f9c89b;
}
.email i{
    position: absolute;
    top: 35%;
    left: 27%;
    font-size: 20px;
    color: var(--sub-color);
}
.m-btn{
    position: absolute;
    top: 9.5%;
    left: 59%;
    overflow: hidden;
    border-radius: 50px;
    align-self: center;
}
.m-btn a{
    color: white;
    font-weight: 600;
    padding: 18px 55px;
    padding-right: 80px;
    background-color: var(--theme-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    position: relative;
    z-index: 1;
}
.m-btn a::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.m-btn:hover a::after{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.m-btn a i{
    margin-top: -5px;
    margin-left: 78px;
    font-size: 26px;
    color: white;
}
.m-btn .check i{
    position: absolute;
    top: 60%;
    left: 70%;
    z-index: 4;
    font-size: 9px;
    padding: 3px 4px;
    background-color: white;
    color: var(--theme-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.inqury{
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.phone{
    justify-self: center;
}
.phone span{
    transition: .3s;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color: #fce1c8;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-right: 15px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.phone span i{
    transition: .3s;
    font-size: 22px;
    color: var(--theme-color);
    margin-top: 30px;
}
.i-name{
    font-size: 16px;
    font-weight: 700;
}
.i-info{
    margin-top: 5px;
    font-size: 20px;
    font-weight: 700;
}
.i-data{
    align-self: center;
}
.phone:hover span{
    background-color: var(--theme-color);
}
.phone:hover span i{
    color: white;
}
.sub-footer{
    padding-top: 130px;
    padding-bottom: 50px;
}
.f-nav li a{
    padding: 10px 15px;
    color: var(--sub-color);
    font-weight: 700;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    &:hover{
        color: var(--theme-color);
    }
}
.social li a{
    color: var(--theme-color);
    padding: 0 8px;
    font-size: 23px;
}
.copy{
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: var(--sub-color);
}

/* bottom top arrow */

.bottomtop{
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(-80%,-50%);
    -webkit-transform: translate(-80%,-50%);
    -moz-transform: translate(-80%,-50%);
    -ms-transform: translate(-80%,-50%);
    -o-transform: translate(-80%,-50%);
}
.bottomtop i{
    padding: 10px;
    color: white;
    font-size: 30px;
    background-color: var(--main-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    color:white;
    &:hover{
        color: var(--theme-color);
    }
}